<footer class="footer">
    <div class="columns">
        <div class="column">
            <h3>Providers</h3>
            <p>MedNova Pharma</p>
            <p>BioGenesis Pharma</p>
            <p>CureTech Solutions</p>
            <p>LifeBridge Investments</p>
            <p>MedStrive Holdings</p>
            <p>SummitCare Hospital</p>
        </div>
        <div class="column">
            <h3>Publications</h3>
            <p>The Journal of Global Health Insights</p>
            <p>Biotech Review</p>
            <p>PharmaProgress</p>
            <p>Innovative Medical Research</p>
            <p>Future of Healthcare</p>
        </div>
        <div class="column">
            <h3>Investors</h3>
            <p>CapitalCore Ventures</p>
            <p>SilverStone Investments</p>
            <p>Pioneer Growth Partners</p>
            <p>Summit Ridge Capital</p>
            <p>Horizon Equity Group</p>
        </div>
    </div>
    <div class="contact">
        Contact us at : <a href="mailto:tadawi@gmail.com">tadawi.contact@gmail.com</a>
    </div>
    <div class="logos">
        <img src="/img/logo Tadawi-05.png" alt="logo 1">
        <img src="/img/vision2030-saudi-arabia-Logo-PNG-Transparent-Background.png" alt="Logo 2">
        <img src="/img/logo (1).png" alt="Logo 3">
        <img src="/img/image-removebg-preview.png" alt="Logo 4">
    </div>
</footer>
