<header class="header">
    <div class="header-logo">
        <span>T</span>ADAWI
    </div>
    <nav class="nav">
        <a href="/" class="active">Home</a>
        <a href="#">About us</a>
        <a href="/help">Help</a>
    </nav>
    <div class="dropdown">
        <button class="dropdown-button">Sign up <span class="arrow">&#9660;</span></button>
        <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/create-account">Sign up</a>
        </div>
    </div>
</header>
