<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Tadawi - Home </title>
    <link rel="stylesheet" href="/css/Main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <!-- Include Header Partial -->
    <%- include("partials/header") %>

    <header>
        <h1> Helping Patients </h1>
        <h2> Finding their perfect clinical trials match </h2>    
    </header>

    <section class="banner">
        <img src="/img/Tadawi.png" alt="Tadawi">
        <div class="banner-text">
            <h2>WHAT IS TADAWI</h2>
            <h3>What is Tadawi?</h3>
            <div class="info"> 
                <p><strong> Accelerate:</strong> Clinical trial matching</p>
                <p><strong>Find:</strong> Donated medical equipment</p>
                <p><strong>Help:</strong> Bridges gaps between patients and clinical trials</p>
            </div> 
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <h3>CONVENIENCE</h3>
            <p>Convenience offered to our users</p>
        </div>
        <div class="feature">
            <h3>PRIVACY</h3>
            <p>Privacy of data and information</p>
        </div>
        <div class="feature">
            <h3>ASSISTANCE</h3>
            <p>Support teams working around the clock</p>
        </div>
        <div class="feature">
            <h3>WELLNESS</h3>
            <p>Wellness and health is our #1 priority offered to users</p>
        </div>
    </section>

    <!-- Include Footer Partial -->
    <%- include("partials/footer") %>

</body>
</html>
